[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "==19.10b0"
flake8 = "*"
importlib_metadata = {version = "*", markers = "python_version < '3.12'"}
pytest = "*"
pytz = "*"
requests = "<3.0"

[packages]
jellyfish = "==0.11.2"


[pipenv]
allow_prereleases = true